# Environments
.venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
.DS_Store

# Data/DB
chroma_db/
local_chroma_db/
data/*.csv
data/*.json
data/*.pdf
data/*.txt
*.pdf

# Project specific
.claude/
.gemini/
node_modules/
